@model CST.WebApp.MVC.Models.CategoriaViewModel

@{
    ViewData["Title"] = "Deletar Categoria";
}

<section class="section-conten padding-y container" style="min-height: 35vh">
    <div class="row hidden-xs">
        <div class="col-md-12 col-xs-12">
            <ul class="site-breadcrumbs">
                <li class="no-padding">
                    <a class="cursor-pointer"
                       asp-controller="Produto" asp-action="Index">
                        <i class="fa fa-university" aria-hidden="true"></i>
                        &nbsp; PÁGINA INICIAL (HOME)
                    </a>
                </li>
                <li class="no-padding">
                    <a class="cursor-pointer"
                       asp-controller="Categoria" asp-action="Index">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        &nbsp; LISTAGEM DE CATEGORIAS
                    </a>
                </li>
                <li class="text-bold">
                    DELETAR CATEGORIA
                </li>
            </ul>
        </div>
    </div>
    <br />
    <vc:Summary></vc:Summary>

    <div class="card mx-auto" style="max-width: 380px; margin-top: 100px;">
        <div class="card-body">
            <h4 class="card-title mb-4 text-center">Deletar Categoria</h4>

            <form asp-controller="Categoria" asp-action="Deletar" method="post">
                @Html.HiddenFor(c => c.Id)
                <div class="form-group">
                    <label asp-for="Nome"></label>
                    <input asp-for="Nome" class="form-control" disabled />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Deletar</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}